<!DOCTYPE html>
<html lang="en">

<head>
    <title>Go Green</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div id="nav-bar">
        <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#Products">Products</a></li>
            <li><a href="#">services</a></li>
            <li><a href="#contact">contact us</a></li>
        </ul>
    </div>
    <div id="header-banner">
        <div id="header">
            <h1>Welcome To Go Green</h1>
        </div>
    </div>
    <div id="Products">
        <div class="Product-Section">
            <table>
                <tr>
                    <td>
                        <div class="card">
                            <div class="product-img">
                                <img src="Image/item1.webp" alt="">
                            </div>

                            <div class="Product-disc">
                                <h1>Name</h1>
                                <p>Description</p>
                                <span>Deal of The Day</span>
                                <h2>Rs 00.00</h2>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card">
                            <div class="product-img">
                                <img src="Image/item2.jpg" alt="">
                            </div>

                            <div class="Product-disc">
                                <h1>Name</h1>
                                <p>Description</p>
                                <span>Deal of The Day</span>
                                <h2>Rs 00.00</h2>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card">
                            <div class="product-img">
                                <img src="Image/item3.jpg" alt="">
                            </div>

                            <div class="Product-disc">
                                <h1>Name</h1>
                                <p>Description</p>
                                <span>Deal of The Day</span>
                                <h2>Rs 00.00</h2>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card">
                            <div class="product-img">
                                <img src="Image/item4.jpg" alt="">
                            </div>

                            <div class="Product-disc">
                                <h1>Name</h1>
                                <p>Description</p>
                                <span>Deal of The Day</span>
                                <h2>Rs 00.00</h2>
                            </div>
                        </div>
                    </td>
                </tr>

            </table>
        </div>
        <div class="Product-Section">
            <table>
                <tr>
                    <td>
                        <div class="card">
                            <div class="product-img">
                                <img src="Image/item5.jfif" alt="">
                            </div>

                            <div class="Product-disc">
                                <h1>Name</h1>
                                <p>Description</p>
                                <span>Deal of The Day</span>
                                <h2>Rs 00.00</h2>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card">
                            <div class="product-img">
                                <img src="Image/item6.jpg" alt="">
                            </div>

                            <div class="Product-disc">
                                <h1>Name</h1>
                                <p>Description</p>
                                <span>Deal of The Day</span>
                                <h2>Rs 00.00</h2>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card">
                            <div class="product-img">
                                <img src="Image/item7.jfif" alt="">
                            </div>

                            <div class="Product-disc">
                                <h1>Name</h1>
                                <p>Description</p>
                                <span>Deal of The Day</span>
                                <h2>Rs 00.00</h2>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card">
                            <div class="product-img">
                                <img src="Image/item8.jpeg" alt="">
                            </div>

                            <div class="Product-disc">
                                <h1>Name</h1>
                                <p>Description</p>
                                <span>Deal of The Day</span>
                                <h2>Rs 00.00</h2>
                            </div>
                        </div>
                    </td>
                </tr>

            </table>
        </div>
    </div>
    <div id="Quits">
        <p>" A society grows great when old men plant trees
            <br>whose shade they know they shall never sit in. "<br>
            <span>by :– Greek proverb</span>
        </p>
    </div>
    <div id="contact">

        <div id="form-section">
            <h1>Contact</h1>
            <form>
                <table>
                    <tr>
                        <td>Full Name</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input type="email"></td>
                    </tr>
                    <tr>
                        <td>Mobile No.</td>
                        <td><input type="number"></td>
                    </tr>
                    <tr>
                        <td>Message</td>
                        <td><textarea name="" id="" cols="30" rows="4"></textarea></td>
                    </tr>
                    <tr>
                        <td><input type="Submit" id="btn"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3561.938549675629!2d83.06979381436267!3d26.778228672314594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3991252c22f8c33f%3A0xb5efd9b7cda668b6!2sHarsh%20Trading%20Company!5e0!3m2!1sen!2sin!4v1615477353529!5m2!1sen!2sin"></iframe>
            <!-- <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3561.938549675629!2d83.06979381436267!3d26.778228672314594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3991252c22f8c33f%3A0xb5efd9b7cda668b6!2sHarsh%20Trading%20Company!5e0!3m2!1sen!2sin!4v1615477353529!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
        </div>
    </div>
    <div id="footer">
        <p>Copyright&copy; : 2021</p>
        <p>All Rights are reserved</p>
        <p>Develop & maintain by:- AMG</p>
    </div>


</body>

</html>