<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Green</title>
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div id="nav-bar">
        <div id="logo">Go Green</div>
        <div id="nav-link">
            <a href="#">home</a>
            <a href="#">About us</a>
            <a href="#Products">Products</a>
            <a href="#">services</a>
            <a href="#contact">contact us</a>
        </div>
    </div>
    <div id="header-banner">
        <div id="header">
            <h1>Welcome To Go Green</h1>
        </div>
    </div>
    <div id="Products">
        <h1>Products</h1>
        <div class="Product-Section">
            <div class="card">
                <div class="product-img">
                    <img src="Image/item1.webp" alt="">
                </div>
                <div class="Product-disc">
                    <h1>Name</h1>
                    <p>Description</p>
                    <span>Deal of The Day</span>
                    <h2>Rs 00.00</h2>
                </div>
            </div>
            <div class="card">
                <div class="product-img">
                    <img src="Image/item2.jpg" alt="">
                </div>
                <div class="Product-disc">
                    <h1>Name</h1>
                    <p>Description</p>
                    <span>Deal of The Day</span>
                    <h2>Rs 00.00</h2>
                </div>
            </div>
            <div class="card">
                <div class="product-img">
                    <img src="Image/item3.jpg" alt="">
                </div>
                <div class="Product-disc">
                    <h1>Name</h1>
                    <p>Description</p>
                    <span>Deal of The Day</span>
                    <h2>Rs 00.00</h2>
                </div>
            </div>
            <div class="card">
                <div class="product-img">
                    <img src="Image/item4.jpg" alt="">
                </div>
                <div class="Product-disc">
                    <h1>Name</h1>
                    <p>Description</p>
                    <span>Deal of The Day</span>
                    <h2>Rs 00.00</h2>
                </div>
            </div>
            <div class="card">
                <div class="product-img">
                    <img src="Image/item5.jfif" alt="">
                </div>
                <div class="Product-disc">
                    <h1>Name</h1>
                    <p>Description</p>
                    <span>Deal of The Day</span>
                    <h2>Rs 00.00</h2>
                </div>
            </div>
            <div class="card">
                <div class="product-img">
                    <img src="Image/item6.jpg" alt="">
                </div>
                <div class="Product-disc">
                    <h1>Name</h1>
                    <p>Description</p>
                    <span>Deal of The Day</span>
                    <h2>Rs 00.00</h2>
                </div>
            </div>
            <div class="card">
                <div class="product-img">
                    <img src="Image/item1.webp" alt="">
                </div>
                <div class="Product-disc">
                    <h1>Name</h1>
                    <p>Description</p>
                    <span>Deal of The Day</span>
                    <h2>Rs 00.00</h2>
                </div>
            </div>
            <div class="card">
                <div class="product-img">
                    <img src="Image/item7.jfif" alt="">
                </div>
                <div class="Product-disc">
                    <h1>Name</h1>
                    <p>Description</p>
                    <span>Deal of The Day</span>
                    <h2>Rs 00.00</h2>
                </div>
            </div>
        </div>
    </div>
    <div id="Quits">
        <p>" A society grows great when old men plant trees
            <br>whose shade they know they shall never sit in. "<br>
            <span>by :– Greek proverb</span>
        </p>
    </div>
    <div id="contact">

        <div id="form-section">
            <h1>Contact</h1>
            <form>
                <table>
                    <tr>
                        <td><label>Full Name</label></td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td><label>Email</label> </td>
                        <td><input type="email"></td>
                    </tr>
                    <tr>
                        <td><label>Mobile No.</label></td>
                        <td><input type="number"></td>
                    </tr>
                    <tr>
                        <td><label>Message</label></td>
                        <td><textarea name="" id="" cols="30" rows="4"></textarea></td>
                    </tr>
                    <tr>
                        <td><input type="Submit" id="btn"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3561.938549675629!2d83.06979381436267!3d26.778228672314594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3991252c22f8c33f%3A0xb5efd9b7cda668b6!2sHarsh%20Trading%20Company!5e0!3m2!1sen!2sin!4v1615477353529!5m2!1sen!2sin"></iframe>
            <!-- <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3561.938549675629!2d83.06979381436267!3d26.778228672314594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3991252c22f8c33f%3A0xb5efd9b7cda668b6!2sHarsh%20Trading%20Company!5e0!3m2!1sen!2sin!4v1615477353529!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
        </div>
    </div>
    <div id="footer">
            <p>Copyright&copy; : 2021</p>
            <p>All Rights are reserved</p>
            <p>Developed by:- <a href="https://github.com/adityamalikgupta7755">AMG</a></p>
    </div>

</body>

</html>