<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMG</title>
    <script src="https://kit.fontawesome.com/e13b83aede.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div id="logo">
            <h1>AMG</h1>
        </div>
        <nav>
            <a href="#intro">Intro</a>
            <a href="#About">About me</a>
            <a href="#I-DO">What I do</a>
            <a href="#poject">Project</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>
    <section id="intro">
        <div id="main-section">
            <article class="main-article">
                <div id="intro_img">
                    <img src="image/ProfilePic.jpg" alt="profile pic" class="intro_img">
                </div>
                <div class="content">
                    <h1 class="section__title">
                        Hi, I am <strong>Aditya Malik Gupta</strong>
                    </h1>
                    <p class="section__subtitle">Developer</p>
                </div>
            </article>
        </div>
    </section>


    <div id="social-media">
        <ul>
            <li><a href="https://github.com/adityamalikgupta7755"><span class="fab fa-github"></span></a></li>
            <li><a href="#"><span class="fab fa-facebook"></span></a></li>
            <li><a href="#"><span class="fab fa-linkedin"></span></a></li>
        </ul>
    </div>


    <section id="About">
        <div id="edu">
            <article id="summery">
                <h1>About me</h1>
                <p>Self-motivated and hardworking fresher seeking for an
                    opportunity to work in a challenging environment to prove my
                    coding skills and utilize my knowledge of various databases in
                    the growth of the organization.</p>
            </article>
            <article id="techskill">
                <h1>Technical Skill</h1>
                <dl>
                    <dt>Programming Language:-</dt>
                    <dd>-->JAVA</dd>
                    <dd>-->Python</dd>
                    <dt>UI</dt>
                    <dd>-->HTML</dd>
                    <dd>-->CSS</dd>
                    <dd>-->JS</dd>
                    <dd>-->BootStrap</dd>
                </dl>
            </article>
            <article id="edu-detail" style="overflow-x:auto;">
                <table>
                    <tr>
                        <th>College / School</th>
                        <th>University / Board</th>
                        <th>Course</th>
                        <th>Year of Passing</th>
                    </tr>
                    <tr>
                        <td>
                            Bansal Institute of Engineering and Technology Lucknow
                        </td>
                        <td>
                            Dr. A.P.J. Abdul Kalam Technical University
                        </td>
                        <td>
                            B-Tech CSE
                        </td>
                        <td>
                            2020
                        </td>
                    </tr>
                    <tr>
                        <td>
                            H.S Public School
                        </td>
                        <td>
                            C B S E
                        </td>
                        <td>
                            Higher Secondary
                        </td>
                        <td>
                            2016
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Bal vidya mandir Lucknow
                        </td>
                        <td>
                            C B S E
                        </td>
                        <td>
                            Secondary school
                        </td>
                        <td>
                            2013
                        </td>
                    </tr>
                </table>
            </article>
        </div>
    </section>
    <!-- My about ends -->


    <!-- About -->
    <section id="about">
        <h2 class="about_title" id="I-DO">What I do</h2>
        <!-- about start-->
        <div class="about-main-content">
            <div class="about-content">
                <h3>Developer</h3>
                <p>hi I am a developer, seeking an opportunity to work in a challenging environment to improve my coding
                    skills and utilize my knowledge of various things in the growth of my self</p>
                <p>i do Static Webpage Designing & hosting</p>
            </div>
            <!--about end -->

            <!--about -->
            <div class="about-content">
                <h3>Graphic Designer</h3>
                <p>And i am also work as Graphic Designer </p>
                <p>i do logo, poster, flyer, visting card, brochure Designing ..</p>
            </div>
            <!--about end -->
        </div>
        <!-- about end-->
        <a href="#poject" class="btn">My Work</a>
    </section>
    <section id="contact">
        <article id="contact-detail">
            <h1>Contact</h1>
            <dl>
                <dt> Address:-</dt>
                <dd>Harsh Trading Company Khalilabad Sant Kabir Nagar Uttar Pradesh 272175</dd>
                <dt>Phone No:-</dt>
                <dd>7755832501, 7985075721</dd>
                <dt>Languages known:-</dt>
                <dd>English, hindi</dd>
                <dt>Email:-</dt>
                <dd>amalikgupta@gmail.com</dd>
                <dt>Github:-</dt>
                <dd>https://github.com/adityamalikgupta7755</dd>
            </dl>
        </article>
    </section>
    <section id="poject">
        <article id="sidebar">
            <div id="project-nav">
                <ul>
                    <li>
                        <h5>Development</h5>
                    </li>
                    <li><a href="#work">Webpages</a></li>
                    <li>
                        <h5>Graphic</h5>
                    </li>
                    <li><a href="#graphic-logo">logo</a></li>
                    <li><a href="#banner">Banner</a></li>
                    <li><a href="#poster">Posters</a></li>
                    <li><a href="#profile">Profile Card</a></li>
                    <li><a href="#brochure">Brochure</a></li>
                </ul>
            </div>
        </article>
        <article>
            <div id="work">
                <div class="work-heading">
                    <h1>My Work</h1>
                    <h2>Web Development</h2>
                </div>
                <div class="work-section">
                    <article class="card">
                        <a href="https://gogreenbyamg.netlify.app" target="_blank">
                            <img src="image/googreen.png" alt="">
                            <a href="https://gogreenbyamg.netlify.app" class="link" target="_blank">Click me</a>
                    </article>
                    <article class="card">
                        <a href="https://jspider-amg.netlify.app" target="_blank">
                            <img src="image/jspider.png" alt="">
                            <a href="https://jspider-amg.netlify.app" class="link" target="_blank">Click me</a>
                    </article>
                    <article class="card">
                        <a href="https://ui-landingpage.netlify.app" target="_blank">
                            <img src="image/uilanding.png" alt="">
                            <a href="https://ui-landingpage.netlify.app" class="link" target="_blank">Click me</a>
                    </article>
                </div>
                <div class="work-heading" id="graphic-logo">
                    <h2>Graphic Designs</h2>
                    <h3>logo</h3>
                </div>
                <div class="work-section">
                    <article class="card">
                        <img src="image/graphic/logo1.png" alt="">
                    </article>
                    <article class="card">
                        <img src="image/graphic/logo2.png" alt="">
                    </article>
                    <article class="card">
                        <img src="image/graphic/logo3.png" alt="">
                    </article>
                    <article class="card">
                        <img src="image/graphic/logo4.jpg" alt="">
                    </article>
                </div>
                <div class="work-heading" id="banner">
                    <h3>banner</h3>
                </div>
                <div class="work-section">
                    <article class="card">
                        <img src="image/graphic/banner1.png" alt="">
                    </article>
                    <article class="card">
                        <img src="image/graphic/banner2.jpg" alt="">
                    </article>
                    <article class="card">
                        <img src="image/graphic/banner3.jpg" alt="">
                    </article>
                    <article class="card">
                        <img src="image/graphic/banner4.png" alt="">
                    </article>
                </div>
                <div class="work-heading" id="poster">
                    <h3>Posters </h3>
                </div>
                <div class="work-section">
                    <article class="card">
                        <img src="image/graphic/poster.png" alt="">
                    </article>
                    <article class="card">
                        <img src="image/graphic/poster1.jpg" alt="">
                    </article>
                    <article class="card">
                        <img src="image/graphic/poster2.png" alt="">
                    </article>
                    <article class="card">
                        <img src="image/graphic/poster3.png" alt="">
                    </article>
                    <article class="card">
                        <img src="image/graphic/poster4.png" alt="">
                    </article>
                    <article class="card">
                        <img src="image/graphic/poster5.png" alt="">
                    </article>
                    <article class="card">
                        <img src="image/graphic/poster6.png" alt="">
                    </article>
                    <article class="card">
                        <img src="image/graphic/poster7.png" alt="">
                    </article>
                </div>
                <div class="work-heading" id="profile">
                    <h3>Profile Card </h3>
                </div>
                <div class="work-section">
                    <article class="card">
                        <img src="image/graphic/profile card 1.png" alt="">
                    </article>
                    <article class="card">
                        <img src="image/graphic/profile card 2.png" alt="">
                    </article>
                    <article class="card">
                        <img src="image/graphic/profile card 3.png" alt="">
                    </article>
                    <article class="card">
                        <img src="image/graphic/profile card 4.png" alt="">
                    </article>
                    <article class="card">
                        <img src="image/graphic/profile card 5.png" alt="">
                    </article>
                    <article class="card">
                        <img src="image/graphic/profile card 6.png" alt="">
                    </article>
                </div>
                <div class="work-heading" id="brochure">
                    <h3>Brochure </h3>
                </div>
                <div class="work-section">
                    <article class="card">
                        <img src="image/graphic/brosher.png" alt="">
                    </article>
                    <article class="card">
                        <img src="image/graphic/brosher2.png" alt="">
                    </article>
                    <article class="card">
                        <img src="image/graphic/brosher3.png" alt="">
                    </article>
                    <article class="card">
                        <img src="image/graphic/brosher4.png" alt="">
                    </article>
                    <article class="card">
                        <img src="image/graphic/brosher5.png" alt="">
                    </article>
                    <article class="card">
                        <img src="image/graphic/brosher6.png" alt="">
                    </article>
                    <article class="card">
                        <img src="image/graphic/brosher7.png" alt="">
                    </article>
                    <article class="card">
                        <img src="image/graphic/brosher8.png" alt="">
                    </article>
                </div>
            </div>
        </article>
    </section>

    <footer>
        <p>Copyright&copy;:2021</p>
        <p>All Right Are Resreved</p>
        <small>Developed & Maintain by- AMG</small>
    </footer>
</body>

</html>