<!DOCTYPE html>
<html lang="en">
<head>
    <title>Assigment 6</title>
    <style>
        div{
            margin: 89px 363px;
            font-size: 18px;
        }
        table td .padd{
            padding: 0px 30px 0px 0px;
        }
        .border{
            border: 2px inset rgb(195, 192, 192);
        }
        .spac{
            margin: 9px 11px 13px;
        }
        .spac tr td{
            padding: 0px 156px 0px 0px;
        }
        li{
            font-weight: bold;
        }
        .out-border{
            outline: 10px outset #afafaf;
        }
    </style>
</head>
<body>
<div>
    <table class="border out-border">
        <tr >
            <td class="border"><p>This is a Paragraph</p>
                <p>This is anthore Paragraph</p></td>
                <td class="border">
                    <table class="border spac out-border">
                        This cell contains a table
                        <tr>
                            <td class="border ">A</td>
                            <td class="border ">B</td>
                        </tr>
                        <tr>
                            <td class="border ">C</td>
                            <td class="border ">D</td>
                        </tr>
                    </table>
                </td>
        </tr>
        <tr>
            <td class="border"><p class="padd">This cell contains a list</p>
                <ol>
                    <li>apples</li>
                    <li>bananas</li>
                    <li>pineapples</li>
                </ol>
            </td>
            <td class="border">
                <table>
                    <tr>
                        <td>
                            <p>This is a Paragraph</p>
                            <p>This is another Paragraph</p>
                        </td>
                        <td>
                            <p>This cell contains a table:</p>
                            <table>
                                <tr>
                                    <td>A</td>
                                    <td>B</td>
                                </tr>
                                <tr>
                                    <td>C</td>
                                    <td>D</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <p>This cell contains a list</p>
                        <ul>
                            <li>apples</li>
                            <li>bananas</li>
                            <li>pineapples</li>
                        </ul>
                    </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </div>
</body>
</html>