<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LandingPage Amg</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <img src="img/logo.webp" alt="logo" class="logo">
        <div class="content">
            <h1>Welcome</h1>
            <h2>Page</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia est autem illo minus provident, animi ea harum exercitationem itaque expedita eum voluptate nam, ut perferendis a dicta dolore vitae maiores at. Architecto vel odio fuga minus, libero recusandae iusto culpa dolorem autem odit, cum nihil corporis suscipit iste? Cupiditate, harum!</p>
            <a href="#" class="link">Discover more</a>
            <span>10 may 2021</span>
        </div>
        <img src="img/neon.png" alt="" class="model-img">
        <img src="img/search.png" alt="" class="search-icon">
    </div>
</body>
</html>