<!DOCTYPE html>
<html lang="en">
<head>
    <title>Assigment 5</title>
    <style>
        #main-table{
            width: 442px;
        }
        table,td,th{
            border: 2px inset rgb(195, 192, 192);
        }
        caption{
            font-size: 20px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <table id="main-table">
        <tr>
            <td><p>This is a Paragraph about me, Ian1</p>
                <p>This is another Paragraph about me, Ian1</p></td>
                <td>
                    <table>
                        <caption>Random Name</caption>
                        <tr>
                            <td>J.Doe</td>
                            <td>P.Day</td>
                        </tr>
                        <tr>
                            <td>R.Bob</td>
                            <td>T.Sam</td>
                        </tr>
                        <tr>
                            <td colspan="2">Contact me for details</td>
                        </tr>
                    </table>
                </td>
        </tr>
        <tr>
            <td><h3>Free Software</h3>
                <ol>
                    <li>Linux</li>
                    <li>Apache</li>
                    <li>MySQL</li>
                    <li>PHP</li>
                </ol>
            </td>
            <td>HELLO</td>
        </tr>
    </table>
</body>
</html>