<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Resume</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/e13b83aede.js" crossorigin="anonymous"></script>
       
</head>

<body>
    <div id="header">
        <div id="address">
            <span class="fab fa-github"><a href="https://github.com/adityamalikgupta7755" target="_blank">Github</a></span>
            <span class="fas fa-envelope-open-text"><a href="#">amalikgupta@gmail.com</a> </span>

        </div>
        <div id="heading">
            <h1>Resume</h1>
        </div>
        <div id="pic">
            <img src="amg.jpg" alt="">
        </div>
    </div>
    <div id="main-box">
        <div id="nav-bar">
            <ul>
                <li><a href="#my-self">My Self</a></li>
                <li><a href="#Edu">Eductaion</a></li>
                <li><a href="#hobbies">hobbies</a></li>
                <li><a href="#Skills">Skills</a></li>
                <li><a href="#Strength">Strength</a></li>
                <li><a href="#Weakness">Weakness</a></li>
                <li><a href="#Personal">Personal</a></li>
            </ul>
        </div>
        <div id="Content-Section">
            <div id="my-self" class="card">
                <h1>MY Self</h1>
                <p>Aditya Malik Gupta I am Completed my Undergraduate in Computer Science & Engineering from Bansal
                    Institute of Engineering Technology& I am a Self-motivated and hardworking fresher seeking for an
                    opportunity to work in a challenging environment to prove my coding skills and utilize my knowledge
                    of various projects in the growth of the organization.</p>
            </div>

            <div id="Edu" class="card">
                <h1>Education</h1>
                <table>
                    <tr>
                        <th>Qualification</th>
                        <th>Board/Branch</th>
                        <th>College/University</th>
                        <th>Year of Joining</th>
                        <th>Year of Pass out </th>
                    </tr>
                    <tr>
                        <td>Undergraduate <br> B-Tech</td>
                        <td>CSE</td>
                        <td>Bansal Institute of Engineering & Technology Lucknow</td>
                        <td>2016</td>
                        <td>2020</td>
                    </tr>
                    <tr>
                        <td>10+2</td>
                        <td>CBSE</td>
                        <td>H.S.Public School Lucknow</td>
                        <td>2015</td>
                        <td>2016</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>CBSE</td>
                        <td>Bal Vidya Mandir Lucknow</td>
                        <td>2012</td>
                        <td>2013</td>
                    </tr>

                </table>
            </div>
            <div id="hobbies" class="card list">
                <h1>Whimsy</h1>
                <ul>
                    <li>Calligraphy</li>
                    <li>Paper craft</li>
                    <li>Learning New Technology</li>
                    <li>graphic design</li>
                    <li>Photo & video editing</li>
                </ul>

            </div>
            <div id="Skills" class="card list" >
                <h1>Skills</h1>
                <ul>
                    <li>Programming Languages:-
                        <ul>
                            <li>C</li>
                            <li>Python</li>
                            <li>Java</li>
                        </ul>
                    </li>
                    <li>Web Technologies:-
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Js</li>
                        </ul>
                    </li>
                    <li>FrameWorks:-
                        <ul>
                            <li>Bootstrape</li>
                            <li>Django</li>
                        </ul>
                    </li>
                    <li>Tools :-
                        <ul>
                            <li>Ms Office</li>
                            <li>PhotoShop</li>
                            <li>Adobe illustrator</li>
                        </ul>
                    </li>
                </ul>
                

            </div>
            <div id="Strength" class="card list">
                <h1>Strength</h1>
                <ul>
                    <li>Creative design</li>
                    <li>Strong decision maker</li>
                    <li>Innovative</li>
                    <li>Honest & Punctual</li>
                    <li>Hardworking and friendly</li>
                </ul>
            </div>
          
            <div id="Weakness" class="card list">
                <h1>Weakness</h1>
                <ul>
                    <li>Work completion on time</li>
                    <li>Perfection in work</li>
                </ul>
            </div>
            <div id="Personal" class="card ">
                <h1>Personal Detail</h1>
                <dl>
                    <dt> Address:-</dt>
                    <dd>Harsh Trading Company Khalilabad Sant Kabir Nagar Uttar Pradesh 272175</dd>
                    <dt>Phone No:-</dt>
                    <dd>7755832501, 7985075721</dd>
                    <dt>Languages known:-</dt>
                    <dd>English, hindi</dd>
                    <dt>Email:-</dt>
                    <dd>amalikgupta@gmail.com</dd>
                    <dt>Github:-</dt>
                    <dd>https://github.com/adityamalikgupta7755</dd>
                </dl>
               
            </div>
        </div>
    </div>
    <div id="footer">
        <p>Copy &copy;: 2021</p>
        <p>all right are reserved</p>
        <p>developed and maintain by :- AMG</p>
    </div>
</body>

</html>