<!DOCTYPE html>
<html lang="en">
<head>
    <title>Women's day</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="links">
        <a href="#home">Home</a>
        <a href="#Mother">Mother Teresa</a>
        <a href="#indira">indira gandhi</a>
        <a href="#pratibha">pratibha patil</a>
        <a href="#kiran">kiran bidi</a>
    </div>
    <div>
        <div id="home" >
            <h1><span style="color: blue; text-shadow: 0 0 10px white;">Great</span>
                <span style="color: red; text-shadow: 0 0 10px white;">Women's</span>
            </h1>
            <h2>Women's Are Real Architect of Socity</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae ex consequuntur vitae dolorum sequi facilis tempora aliquid impedit fugit totam maxime sunt aliquam vel ipsum aut deserunt in, dolore eaque necessitatibus deleniti sed, unde tenetur! Quisquam vitae, fugiat voluptatem, ut natus ab laudantium hic pariatur culpa quibusdam veritatis ea in? </p>
            <table>
                <tr>
                    <td><img src="img/h1.jfif" alt=""></td>
                    <td><img src="img/h2.jfif" alt=""></td>
                </tr>
                <tr>
                    <td>Image One</td>
                    <td>Image Two</td>
                </tr>
            </table>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae ex consequuntur vitae dolorum sequi facilis tempora aliquid impedit fugit totam maxime sunt aliquam vel ipsum aut deserunt in, dolore eaque necessitatibus deleniti sed, unde tenetur! Quisquam vitae, fugiat voluptatem, ut natus ab laudantium hic pariatur culpa quibusdam veritatis ea in? </p>
        </div>
        <div id="Mother" >
            <h2>Mother Teresa</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae ex consequuntur vitae dolorum sequi facilis tempora aliquid impedit fugit totam maxime sunt aliquam vel ipsum aut deserunt in, dolore eaque necessitatibus deleniti sed, unde tenetur! Quisquam vitae, fugiat voluptatem, ut natus ab laudantium hic pariatur culpa quibusdam veritatis ea in? </p>
            <table>
                <tr>
                    <td><img src="img/m1.jfif" alt=""></td>
                    <td><img src="img/m2.webp" alt=""></td>
                    <td><img src="img/m3.jfif" alt=""></td>
                    <td><img src="img/m4.jfif" alt=""></td>
                </tr>
                <tr>
                    <td>Image One</td>
                    <td>Image Two</td>
                    <td>Image Three</td>
                    <td>Image Four</td>
                </tr>
            </table>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae ex consequuntur vitae dolorum sequi facilis tempora aliquid impedit fugit totam maxime sunt aliquam vel ipsum aut deserunt in, dolore eaque necessitatibus deleniti sed, unde tenetur! Quisquam vitae, fugiat voluptatem, ut natus ab laudantium hic pariatur culpa quibusdam veritatis ea in? </p>
        </div>
        <div id="indira" >
            <h2>Indira Gandhi</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae ex consequuntur vitae dolorum sequi facilis tempora aliquid impedit fugit totam maxime sunt aliquam vel ipsum aut deserunt in, dolore eaque necessitatibus deleniti sed, unde tenetur! Quisquam vitae, fugiat voluptatem, ut natus ab laudantium hic pariatur culpa quibusdam veritatis ea in? </p>
            <table>
                <tr>
                    <td><img src="img/i1.jpg" alt=""></td>
                    <td><img src="img/i2.webp" alt=""></td>
                    <td><img src="img/i3.jfif" alt=""></td>
                    <td><img src="img/i4.jpg" alt=""></td>
                </tr>
                <tr>
                    <td>Image One</td>
                    <td>Image Two</td>
                    <td>Image Three</td>
                    <td>Image Four</td>
                </tr>
            </table>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae ex consequuntur vitae dolorum sequi facilis tempora aliquid impedit fugit totam maxime sunt aliquam vel ipsum aut deserunt in, dolore eaque necessitatibus deleniti sed, unde tenetur! Quisquam vitae, fugiat voluptatem, ut natus ab laudantium hic pariatur culpa quibusdam veritatis ea in? </p>
        </div>
        <div id="pratibha" >
            <h2>Pratibha Patil</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae ex consequuntur vitae dolorum sequi facilis tempora aliquid impedit fugit totam maxime sunt aliquam vel ipsum aut deserunt in, dolore eaque necessitatibus deleniti sed, unde tenetur! Quisquam vitae, fugiat voluptatem, ut natus ab laudantium hic pariatur culpa quibusdam veritatis ea in? </p>
            <table>
                <tr>
                    <td><img src="img/p1.jfif" alt=""></td>
                    <td><img src="img/p2.webp" alt=""></td>
                    <td><img src="img/p3.jfif" alt=""></td>
                    <td><img src="img/p4.jfif" alt=""></td>
                </tr>
                <tr>
                    <td>Image One</td>
                    <td>Image Two</td>
                    <td>Image Three</td>
                    <td>Image Four</td>
                </tr>
            </table>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae ex consequuntur vitae dolorum sequi facilis tempora aliquid impedit fugit totam maxime sunt aliquam vel ipsum aut deserunt in, dolore eaque necessitatibus deleniti sed, unde tenetur! Quisquam vitae, fugiat voluptatem, ut natus ab laudantium hic pariatur culpa quibusdam veritatis ea in? </p>
        </div>
        <div id="kiran" >
            <h2>Kiran  Bidi</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae ex consequuntur vitae dolorum sequi facilis tempora aliquid impedit fugit totam maxime sunt aliquam vel ipsum aut deserunt in, dolore eaque necessitatibus deleniti sed, unde tenetur! Quisquam vitae, fugiat voluptatem, ut natus ab laudantium hic pariatur culpa quibusdam veritatis ea in? </p>
            <table>
                <tr>
                    <td><img src="img/k1.jpg" alt=""></td>
                    <td><img src="img/k2.jfif" alt=""></td>
                    <td><img src="img/k3.jfif" alt=""></td>
                    <td><img src="img/k4.jfif" alt=""></td>
                </tr>
                <tr>
                    <td>Image One</td>
                    <td>Image Two</td>
                    <td>Image Three</td>
                    <td>Image Four</td>
                </tr>
            </table>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae ex consequuntur vitae dolorum sequi facilis tempora aliquid impedit fugit totam maxime sunt aliquam vel ipsum aut deserunt in, dolore eaque necessitatibus deleniti sed, unde tenetur! Quisquam vitae, fugiat voluptatem, ut natus ab laudantium hic pariatur culpa quibusdam veritatis ea in? </p>
        </div>
    </div>
    <div id="footer">
        <p>Copyright&copy;:2021</p>
        <p>All Right Reserved & Developed by AMG</p>
    </div>
</body>
</html>