html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(45deg, orange,white,green);
    text-align: center;
}
#links{
    margin-top: 20px;
    position: sticky ;
    top: 0px;
}
#links a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 25px;
    font-size: 20px;
    background:linear-gradient(45deg, seagreen, skyblue,lightgreen);
    color: black;
    margin: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
}
h1{
    margin-top: 40px;
    font-size: 50px;
    word-spacing: 4px;
    font-weight: bolder;
}
h2{
    background: linear-gradient(45deg, green,blue,orange);
    width: 40%;
    margin: 20px auto;
    padding: 10px 20px;
    color: white;
    border-radius: 60px 60px 0px 0px;
    border-bottom: 5px solid white;
    box-shadow: 0 0 10px black;
    word-spacing: 4px;
    text-transform: capitalize;
}
p{
    font-size: 17px;
}
table{
    width: 100%;
    
}
table tr td img{
    box-shadow: 0 0 10px black;
    border-radius: 20px;
    width: 250px;
    height: 200px;
}
#footer{
    background-color: blue;
    padding: 10px;
    margin-bottom: -7px;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    border: 2px solid white;
}